
#components-layout-demo-top-side-2 .logo {
  width: 120px;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.site-layout-background {
  background: #E9F1FC;
}

.header {
  background-color: #6d9eeb !important;
}

.ant-menu.ant-menu-dark,
.ant-menu.ant-menu-dark .ant-menu-sub {
  background-color: #6d9eeb !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #ffffff;
  color: #6d9eeb;
}

.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item-group-title,
.ant-menu-dark .ant-menu-item > a,
.ant-menu-dark .ant-menu-item > span > a {
  color: rgba(255, 255, 255, 1);
}

.ant-layout-header {
  height: 45px;
  line-height: 45px;
}

.ant-layout {
  background: #E9F1FC;
}

.login{
  background: #ffffff;
  width: 120px;
  height: 25px;
}